# Python bytecode files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Virtual Environment
venv/
ENV/
env/

# Flask
instance/
.webassets-cache

# Database files
*.db
*.sqlite

# Log files
*.log
logs/

# Media files
recordings/
static/uploads/
static/images/

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.bak

# OS specific files
.DS_Store
Thumbs.db

# Example files
example.rss

# Temporary files
concat_list.txt

# Application data and test directories
data/
docker_test/
